git submodule update --init --recursive

if [[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/direnv/lib/use_asdf.sh" ]]; then
  ASDF_DIRENV_IGNORE_MISSING_PLUGINS=1
  use asdf;
else
  echo "asdf-direnv not configured"
  echo "see the asdf section of the readme for instruction on how to set this up"
fi

if has pre-commit; then
  pre-commit install
else
  echo "pre-commit not found, pre-commit hooks not installed"
  echo "see the readme for instructions on how to install it"
fi
